.homePage1,
.homePage2,
.homePage3,
.homePage4,
.homePage5 {
  height: 600px;
}
.homePage1,
.homePage2,
.homePage5 {
  display: flex;
}
.homePage1,
.homePage5 {
  justify-content: space-between;
}
/*page 1-------------------------------------------------*/

.homePage1_leftColumn {
  width: 550px;
  margin: 110px 0 0 125px;
}
.homePage1_leftColumn_title {
  font-weight: 700;
  font-size: 40px;
  color: #201849;
}
.homePage1_leftColumn img {
  width: 450px;
}
.homePage1_rightColumn {
  background: #170462;
  width: 350px;
}
.homePage1_rightColumn img {
  width: 500px;
  margin-left: -250px;
  margin-top: 75px;
}
.homePage1_rightColumn_logoText {
  display: none;
}
/*page 2-------------------------------------------------*/
.homePage2_leftColumn {
  background: #bd1422;
  width: 700px;
}
.homePage2_rightColumn_title,
.homePage3_title,
.homePage4_title,
.homePage5_rightColumn_title {
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 2.5px;
}
.homePage2_rightColumn_line {
  display: block;
  content: '';
  margin: 50px auto;
  width: 200px;
  border-bottom: 7px solid #bd1422;
}
.homePage2_block_mobile {
  display: none;
}
.homePage2_leftColumn img {
  width: 500px;
  margin: 100px;
}
.homePage2_rightColumn {
  margin: 50px 0 0 70px;
}
.homePage2_rightColumn_description {
  margin-top: 40px;
  line-height: 1.1;
}
/*page 3-------------------------------------------------*/
.homePage3_title {
  text-align: center;
  margin: 50px 0 50px 0;
}
.homePage3_center {
  display: flex;
  justify-content: space-between;
  padding: 0 125px;
  /* bottom: 70px; */
  margin-top: -170px;
  flex-wrap: wrap;
}
.homePage3_Background {
  height: 250px;
  background: #bd1422;
}
/* .homePage3_footer {
  height: 250px;
  background: #bd1422;
   width: 100vw; 
   position: relative; 
} */
.homePage3_block {
  /* margin-right: 55px; */
  border-radius: 20px;
  color: white;
  padding: 40px 20px 20px 20px;
  width: 280px;
  text-align: center;
  line-height: 1.2;
}
.homePage3_block:last-child {
  margin-right: 0;
}
.homePage3_block a,
.homePage4_title a {
  color: white;
}
.homePage3_block_img img {
  height: 50px;
  margin: 10px 0;
}
.homePage3_block1 {
  background: #170462;
  padding: 40px 25px 20px 25px;
}
.homePage3_block2 {
  background: #201849;
}
.homePage3_block3 {
  background: #170462;
  padding: 40px 35px 20px 35px;
}
.homePage3_block_button img {
  width: 20px;
}
.viewLink {
  -webkit-user-select: none;
  user-select: none;
  border: none;
  border-radius: 0.25rem;
  box-shadow: 0 3px 7px rgb(0 0 0 / 13%), 0 0.6px 2px rgb(0 0 0 / 10%);
  min-width: 10rem;
  padding: 10px;
  position: absolute;
  background: white;
  margin-left: 21px;
  display: flex;
  flex-direction: column;
}
.viewLink a {
  color: #212529;
  margin-bottom: 10px;
}
.viewLink a:last-child {
  margin-bottom: 0px;
}
.viewLink a:hover {
  background-color: #cccccc;
  border-radius: 20px;
}
/*page 4-------------------------------------------------*/
.homePage4_title {
  /* color: white; */
  text-align: center;
  height: 250px;
  background: #170462;
  padding-top: 50px;
}
.homePage4_reviews_block {
  text-align: center;
  margin-right: 40px;
  width: 330px;
}
.homePage4_reviews_block:last-child {
  margin-right: 0;
}
.homePage4_reviews {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -50px;
}
.homePage4_reviews_block_face img {
  width: 100px;
}
.homePage4_reviews_block_appraisal {
  margin-top: 20px;
}
.homePage4_reviews_block_appraisal img {
  width: 30px;
}
.homePage4_reviews_block_name {
  height: 65px;
  font-weight: 700;
  font-size: 17px;
}
.homePage4_reviews_block_review {
  font-size: 17px;
}
/*page 5-------------------------------------------------*/
.homePage5_leftColumn {
  background: #bd1422;
  width: 350px;
}
.homePage5_leftColumn img {
  border-radius: 50%;
  width: 400px;
  margin: 70px 0 0 150px;
}
.homePage5_rightColumn {
  margin: 40px 100px 100px 0;
  width: 430px;
}
.homePage5_rightColumn_title_blockTitle {
  font-weight: 700;
  margin-top: 30px;
}
.homePage5_rightColumn_title_description {
  font-size: 21px;
}
/*179*/
