.menu_nav {
  display: flex;
  align-items: center;
  padding: 10px 0;
  padding-left: 100px;
  background: #ebebeb;
}
.nav_link,
.nav_link_sub {
  text-decoration: none;
  color: black;
  cursor: pointer;
  background: none;
  border: none;
}
.nav_link:hover {
  background: #cccccc;
  border-radius: 20px;
}
