.nav {
  display: flex;
  align-items: center;
  margin: 10px 0;
  margin-left: 100px;
}
.nav_link {
  text-transform: uppercase;
  font-size: 14px;
  margin-right: 20px;
  text-decoration: none;
  color: black;
}
.nav_link:last-child {
  margin-right: 0;
}
.active {
  color: #0173aa;
  border-bottom: 3px solid #0173aa;
}
