@media screen and (max-width: 425px) {
  .contentModalVideo {
    width: 230px;
    padding: 0;
  }
}
@media screen and (max-width: 768px) {
  .description {
    margin-left: 0px;
  }

  .modalContent {
    flex-direction: column;
  }
  .contentModalVideo {
    width: 430px;
  }
}
