.navMobileMenu {
  color: black;
  background: white;
  width: 160px;
  display: grid;
  position: fixed;
  top: 0;
  left: 0;
}

.navMobileMenu li {
  border-bottom: 1px solid red;
  padding: 10px 15px;
}
.navMobileMenu li a {
  text-decoration: none;
}
