.content {
  width: 1200px;
  margin: 0 auto;
  padding: 0 auto;
  font-size: 20px;
  line-height: 1.55;
}
.contentRow {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 60px;
}
.columnLeft {
  width: 360px;
  text-align: justify;
}
.columnCenter {
  width: 360px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: justify;
}
.columnRight {
  width: 360px;
  text-align: justify;
}
.textBold {
  font-weight: bold;
}
.textLight {
  color: #d6c9c9;
}
.textRed {
  color: #f03939;
}
.textCenter {
  text-align: center;
}
