ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.content {
  width: 1200px;
  margin: auto;
  font-size: 20px;
  line-height: 1.55;
}
.contentRow {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 60px;
  flex-wrap: wrap;
}
.contentBlock {
  background-color: #ffffff;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 40px;
  padding-bottom: 40px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  -webkit-flex: 1 0;
  -ms-flex: 1 0;
  -moz-flex: 1 0;
  flex: 1 0;
  margin: 10px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}
.column:hover {
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
}
.block {
  padding: 10px 0;
}
.block:not(:last-of-type) {
  border-bottom: 1px solid #e0e6ed;
}
.titleBlock {
  color: #02c1f5;
  font-weight: 700;
  text-align: center;
}
/* .columnLeft {
  width: 360px;
  text-align: justify;
}
.columnCenter {
  width: 360px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: justify;
}
.columnRight {
  width: 360px;
  text-align: justify;
} */
.textBold {
  font-weight: bold;
}
.textLight {
  color: #d6c9c9;
}
.textRed {
  color: #f03939;
}
.textCenter {
  text-align: center;
}
.blockBonus {
  height: 278px;
}

.baner {
  text-align: center;
}

@media screen and (max-width: 425px) {
  .content {
    width: 100%;
    font-size: 13px;
  }
  .contentRow {
    display: block;
  }

  .baner img {
    width: 98%;
  }
  .blockBonus {
    height: 0;
  }
  .nav_link {
    font-size: 10px;
  }
}
@media screen and (max-width: 768px) and (min-width: 426px) {
  .content {
    width: 100%;
    font-size: 15px;
  }
  .contentRow {
    display: flex;
  }
  .baner img {
    width: 100%;
  }
}
@media screen and (max-width: 1000px) and (min-width: 769px) {
  .content {
    width: 100vw;
    font-size: 15px;
  }
}
