.fc-event-title {
  cursor: pointer;
}

.fc-event-title,
.fc-event-time {
  white-space: normal;
}
a {
  text-decoration: none;
}
ul li,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.content {
  width: 1200px;
  margin: auto;
  font-size: 20px;
  line-height: 1.55;
}
.contentBasePage {
  margin: auto;
  font-size: 20px;
  line-height: 1.55;
}
.contentRow {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 60px;
  flex-wrap: wrap;
}
.contentBlock {
  background-color: #ffffff;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 40px;
  padding-bottom: 40px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  -webkit-flex: 1 0;
  -ms-flex: 1 0;
  -moz-flex: 1 0;
  flex: 1 0;
  margin: 10px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}
.column:hover {
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
}
.block {
  padding: 10px 0;
}
.block:not(:last-of-type) {
  border-bottom: 1px solid #e0e6ed;
}
.titleBlock {
  color: #02c1f5;
  font-weight: 700;
  text-align: center;
}
.textBold {
  font-weight: bold;
}
.textLight {
  color: #d6c9c9;
}
.textRed {
  color: #f03939;
}
.textCenter {
  text-align: center;
}
.blockBonus {
  height: 278px;
}

.baner {
  text-align: center;
}
.mobile_menu {
  display: none;
}
.mobile_menu_button {
  background: url(../images/menu.png) no-repeat;
  height: 24px;
  width: 30px;
  background-size: 29px;
  border: none;
  position: fixed;
}
.menu_nav {
  display: flex;
}
.PageHomeV1 {
  background: url(../images/homeV1Background.png) center no-repeat;
  -moz-background-size: cover; /* Firefox 3.6+ */
  -webkit-background-size: cover; /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: cover; /* Opera 9.6+ */
  background-size: cover; /* Современные браузеры */
  height: 100vh;
  background-attachment: fixed;
}
.PageHomeV2 {
  background: url(../images/homeV2Background.png) center no-repeat;
  -moz-background-size: cover; /* Firefox 3.6+ */
  -webkit-background-size: cover; /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: cover; /* Opera 9.6+ */
  background-size: cover; /* Современные браузеры */
  height: 100vh;
  background-attachment: fixed;
}
.PageHomeV3 {
  background: url(../images/homeV3Background.png) top center no-repeat;
  -moz-background-size: 100vw 100vh; /* Firefox 3.6+ */
  -webkit-background-size: 100vw 100vh; /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: 100vw 100vh; /* Opera 9.6+ */
  background-size: 100vw 100vh; /* Современные браузеры */
  height: 100vh;
  background-attachment: fixed;
}
.contentV3 {
  height: 70vh;
}
/*Page Training*/
.package {
  height: 250px;
  width: 380px;
  background-color: #f03939;
  color: #ffffff;
  border-radius: 30px;
  cursor: pointer;
}
.packageContent {
  width: 100%;
  height: 100%;
  display: flex;
}
.packageContent span {
  margin: auto;
}
.imgSeminar {
  width: 500px;
  height: 300px;
}
@media screen and (max-width: 425px) {
  .content {
    width: 100%;
    font-size: 13px;
  }
  .contentRow {
    display: block;
  }

  .baner img {
    width: 98%;
  }
  .blockBonus {
    height: 0;
  }
  .nav_link {
    font-size: 10px;
  }
  .mobile_menu {
    display: block;
  }
  .menu_nav {
    display: none;
  }
  .package {
    height: 150px;
    width: 200px;
    margin: 20px auto;
  }
  .imgSeminar {
    width: min-content;
    height: 170px;
    margin: 20px auto;
  }
}
@media screen and (max-width: 768px) and (min-width: 426px) {
  .content {
    width: 100%;
    font-size: 15px;
  }
  .contentRow {
    display: flex;
  }
  .baner img {
    width: 100%;
  }
  .mobile_menu {
    display: none;
  }
  .menu_nav {
    display: flex;
  }
  .package {
    height: 200px;
    width: 300px;
    margin: 20px auto;
  }
  .imgSeminar {
    width: min-content;
    height: auto;
    margin: 20px auto;
  }
}
@media screen and (max-width: 1000px) and (min-width: 769px) {
  .content {
    width: 100vw;
    font-size: 15px;
  }
  .imgSeminar {
    width: 370px;
    height: auto;
  }
}
