.table {
  width: 100%;
  border: 1px solid #000;
  display: table;
}
.tableRow {
  /* display: flex; */
  display: table-row;
}
.tableColName {
  width: 70%;
  border: 1px solid #000;
  padding-left: 10px;
  display: table-cell;
}
.tableCol {
  border: 1px solid #000;
  width: 10%;
  text-align: center;
  display: table-cell;
}
.textNumber {
  color: green;
}
.center {
  text-align: center;
}
