@media screen and (max-width: 425px) {
    .pageBaseSeminar1,
.pageBaseSeminar2,
.pageBaseSeminar3,
.pageBaseSeminar4,
.pageBaseSeminar6,
.pageBaseSeminar7,
.pageBaseSeminar8,
.pageBaseSeminar9{
    width:auto;
    margin: 0 50px;
}
.logoSpadok {
    width: 150px;
    margin-top: -50px;
    /* background: white; */
    /* border-radius: 50%; */
    border: 10px solid white;
    margin-left: -25px;
}
.logoSpadokText {
    width: 150px;
      margin-left: -25px;
      margin-top: -15px;
  }
  .pageBaseSeminar1_row_text {
    padding-top: 125px;
    font-weight: 600;
    font-size: 14px;
    width: 180px;
}
.titleSeminar{
    font-size: 20px;
}
.titleSeminar_block{
    width:auto;
}
    .footerPageBaseSeminar1{
        font-size:10px;
    }
    .leftColumnPage2,
    .leftColumnPage3,
    .leftColumnPage6,
    .leftColumnPage7,
    .leftColumnPage8,
    .leftColumnPage9,
    .pageBaseSeminar4_header{
        display: none;
    }
    .rightColumnPage2, .rightColumnPage3, .rightColumnPage6, .rightColumnPage7,.pageBaseSeminar4_row{
        margin-left: 0px;
        margin-right: 0px;
    }
    .rightColumnPage8, .rightColumnPage9{
        margin: 50px 0;
        padding: 0;
    }
    .rightColumnPage6_row{
        display:block;
    }
    .titlePage4{
        width:100%;
    }
    .Podtext_textPage4SeminarBase {
        margin-left: 25px;
    }
    /* .pageBaseSeminar5{ */
        /* margin-left: 0; */
        /* width: 100%; */
    /* } */
    .contentPage5{
        margin: 100px 0px;
        /* display: flex;
    justify-content: space-evenly; */
    }
    .blockPage5 {
        /* background-color: #bd1422;
        height: 80px; */
        width: auto;
        margin: 0 50px;
    }
    .contentPage5_block{
        width:150px;
        height: 150px;
        /* margin: 0 10px; */
    }
    .persentBlock5{
        font-size: large;
    }
    .rightColumnPage6_title{
        display:block;
        font-size: 33px;
    }
    .rightColumnPage6_title::before {
        display: block;
        content: '';
        margin: 50px 0;
        /* padding-top: 50px; */
        width: 200px;
        border-bottom: 7px solid #bd1422;
    }
    .rightColumnPage6_row img{
        width:100px;
        display:block;
        float: left;
    }
    .rightColumnPage6_title__{
        font-size:15px;
      }
    .pageBaseSeminar10,
    .pageBaseSeminar5{
        width:100vw;
        margin: 0;
    }
    .block_pageBaseSeminar10_row{
          width: 100vw;
          height: 100vw;
          padding-top: 5%;
      }
    .description_block_pageBaseSeminar10_row {
        font-size: 20px;
        margin: 50px 95px 0 95px;
        line-height: 23px;
  }
  .block_pageBaseSeminar10_row img{
      left:35%;
      width: 30vw;
  }
  
}
@media screen and (max-width: 650px) and (min-width: 426px) {
    .block_pageBaseSeminar10_row{
        width: 90vw;
        height: 90vw;
        padding-top: 5%;
    }
    .block_pageBaseSeminar10_row img{
        left:35%;
        width: 30vw;
    }
}
@media screen and (max-width: 999px) and (min-width: 426px) {
    .pageBaseSeminar1,
    .pageBaseSeminar2,
    .pageBaseSeminar3,
    .pageBaseSeminar4,
    .pageBaseSeminar6,
    .pageBaseSeminar7,
    .pageBaseSeminar8,
    .pageBaseSeminar9{
        width:auto;
        margin: 0 60px;
    }
    .pageBaseSeminar10{
        width:100vw;
    }
    .logoSpadokText {
        width: 250px;
          margin-left: -30px;
          margin-top: -25px;
      }
    .pageBaseSeminar5{
        margin-left: 0;
    }
    .contentPage5_block{
        width:220px;
        height:220px;
    }
    .rightColumnPage2, .rightColumnPage6, .rightColumnPage7{
        margin-right: 20px;
        margin-left: 10px;
    }
    .leftColumnPage2, .leftColumnPage6, .leftColumnPage7 {
        min-width: 150px;
    }
    .imgTitle_leftColumnPage3 {
        width: 200px;
        height: 200px;
    }
    .title_leftColumnPage2 {
        right: 0px;
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        width: max-content;
        bottom: 170px;
    }
    .footerPageBaseSeminar1{
        font-size:20px;
    }
    .leftColumnPage3{
        min-width:120px;
    }
    .rightColumnPage3{
        margin-left: 80px;
        margin-right: 20px;
    }
    .pageBaseSeminar4_image img{
        width: 200px;
        height: 200px;
    }
    .pageBaseSeminar4_header{
        height: 115px;
    }
    .pageBaseSeminar4_logo img{
        right: 125px;
    }
    .pageBaseSeminar4_title{
        left: 50px;
    }
    .titlePage2{
        font-size: 25px;
    }
    .textPage3SeminarBase{
        font-size: 14px;
    }
    .blockPage5 {
        width: auto;
        margin: auto 60px;
    }
    .title_leftColumnPage6,
    .leftColumnPage7_title {
        right: -40px;
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        font-size: 30px;
    }
    .leftColumnPage7_title{
        padding-top: 40px;
        position: absolute;
        top: 50px;
    }
    .rightColumnPage6_row img{
        width:150px;
    }
    .rightColumnPage8, .rightColumnPage9 {
        padding: 300px 20px 100px 10px;
    }

}