/*page 1-------------------------------------------------*/
.pageBaseSeminar1,
.pageBaseSeminar2,
.pageBaseSeminar3,
.pageBaseSeminar4,
.pageBaseSeminar5,
.pageBaseSeminar6,
.pageBaseSeminar7,
.pageBaseSeminar8,
.pageBaseSeminar9,
.pageBaseSeminar10 {
  text-align: center;
  width: 1000px;
    margin: 0 auto;
}
.pageBaseSeminar1_row{
  display:flex;
  justify-content: space-between;
  height: 450px;
}
.titleSeminar {
  font-size: 25px;
  background: #170462;
  height: 150px;
  color: white;
}
.titleSeminar_block {
  width: 400px;
  margin: 0 auto;
  padding-top:40px;
}
/* .titleSeminar::after {
  display: block;
  content: '';
  margin: auto;
  padding-top: 15px;
  width: 200px;
  border-bottom: 7px solid #170462;
} */
.blockLogo {
  width: 145px;
}
.logoSpadok {
  width: 250px;
  margin-top: -80px;
  background: white;
  border-radius: 50%;
  border: 20px solid white;
  margin-left: -30px;
}
.logoSpadokText {
  width: 350px;
    margin-left: -98px;
    margin-top: -35px;
}
.pageBaseSeminar1_row_text{
  padding-top: 100px;
  font-weight: 700;
  font-size: 40px;
  width: 370px;
  text-align: right;
}
.footerPageBaseSeminar1 {
  background-color: #bd1422;
  color: white;
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-size: 30px;
}
/*page 2-------------------------------------------------*/
.pageBaseSeminar2_row {
  display: flex;
}
.leftColumnPage2,
.leftColumnPage6,
.leftColumnPage7 {
  background-color: #bd1422;
  color: white;
  width: 70%;
  position: relative;
}
/* .leftColumnPage2 img, */
.leftColumnPage8 img,
.leftColumnPage9 img   {
  width: 100px;
  float: right;
  margin-top: 50px;
  right: 20px;
  position: absolute;
}
.titlePage2 {
  padding-bottom: 50px;
  font-size: 33px;
}
.titlePage2::before {
  display: block;
  content: '';
  margin: 50px 0;
  /* padding-top: 50px; */
  width: 200px;
  border-bottom: 7px solid #170462;
}
.rightColumnPage2,
.rightColumnPage3,
.rightColumnPage6,
.rightColumnPage7 {
  margin-left: 70px;
  margin-right: 110px;
  text-align: left;
  /* width: 170%; */
}
.title_leftColumnPage2 {
  position: absolute;
  right: 20px;
  bottom: 100px;
  font-size: 40px;
}
.textPage2SeminarBase {
  text-align: justify;
    font-size: 16px;
    line-height: 1.3;
    margin-bottom: 30px;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.footerPageBaseSeminar2,
.footerPageBaseSeminar3,
.footerPageBaseSeminar6,
.footerPageBaseSeminar7 {
  background-color: #170462;
  color: white;
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 3px;
    font-size: 11px;
}
.nameBlockText {
  font-weight: 700;
}

/*page 3-------------------------------------------------*/
.footerPageBaseSeminar3 {
  z-index: 2;
  position: relative;
  background-color: #bd1422;
}
.leftColumnPage3 {
  background-color: #170462;
  color: white;
  width: 35%;
  position: relative;
}
.imgTitle_leftColumnPage3{
width: 350px;
height:350px;
border-radius: 50%;
position: absolute;
left:0;
}
.rightColumnPage3 {
  margin-left: 170px;
  /* text-align: left; */
}
.textPage3SeminarBase{
  text-align: justify;
    font-size: 16px;
    line-height: 1.3;
    margin-bottom: 30px;
    /* font-weight: 700; */
    letter-spacing: 0.5px;
}
/*page 4-------------------------------------------------*/
.Podtext_textPage2SeminarBase {
  margin-left: 30px;
}
.pageBaseSeminar4_header {
  background-color: #bd1422;
  height: 200px;
  width: 100%;
  color: white;
  font-size: 40px;
  position: relative;
}
.pageBaseSeminar4_title {
  bottom: 50px;
  left: 80px;
  position: absolute;
}
.pageBaseSeminar4_logo img {
  width: 80px;
  bottom: 15px;
  position: absolute;
  right: 230px;
  z-index: 3;
}
.pageBaseSeminar4_image img {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  position: absolute;
  right: -45px;
  top: -45px;
}
.pageBaseSeminar4_row {
  margin-left: 60px;
  margin-bottom: 100px;
  margin-right: 20px;
  text-align: left;
}
.titlePage4 {
  padding: 65px 0;
  /* width: 100vw; */
}
.titlePage4_span {
  color: #bd1422;
  font-size: 16px;
  font-weight: 500;
}
.textPage4SeminarBase {
  font-size: 15px;
  font-weight: 500;
}
.Podtext_textPage4SeminarBase {
  margin-left: 50px;
}
/*page 5-------------------------------------------------*/
.pageBaseSeminar5 {
  background-color: #170462;
  color: black;
  text-align: center;
  width:100vw;
  margin-left: -7%;
}
.blockPage5 {
  background-color: #bd1422;
  height: 80px;
  width: 1000px;
  margin: auto;
}
.contentPage5 {
  display: flex;
  justify-content: space-around;
  margin: 100px 150px;
}
.contentPage5_block {
  background-color: white;
  border-radius: 50%;
  width: 350px;
  height: 350px;
  /* margin: 0 50px; */
  padding: 11%;
}
.persentBlock5 {
  font-size: xxx-large;
  font-weight: 800;
}
.textBlock5 {
  font-size: initial;
  font-weight: 800;
}

/*page 6-------------------------------------------------*/
.leftColumnPage6 {
  background-color: #bd1422;
}
.leftColumnPage6 img,
.leftColumnPage7 img {
  width: 100px;
  float: right;
  margin-top: 50px;
  right: 20px;
  position: absolute;
  bottom: 50px;
}

.title_leftColumnPage6 {
  position: absolute;
  /* left: 75px; */
  top: 100px;
  font-size: 40px;
}
.rightColumnPage6_title{
  display:none;
}
.rightColumnPage6_row {
  display: flex;
  align-items: center;
  margin-top: 50px;
  font-size: 19px;
  text-align: justify;
}
.rightColumnPage6_row:first-child {
  margin-top: 100px;
}
.rightColumnPage6_row:last-child {
  margin-bottom: 100px;
}
.rightColumnPage6_row img {
  width: 200px;
  margin-right: 20px;
}
.footerPageBaseSeminar6 {
  background-color: #170462;
}
/*page 7-------------------------------------------------*/
.leftColumnPage7{
  background-color: #170462;
  width: 45%;
}
.leftColumnPage7_title{
  /* position: absolute; */
  padding-top: 100px;
  font-size: 40px;
  line-height: 1.2;
}
.leftColumnPage7_title__{
  font-size:20px;
}
.footerPageBaseSeminar7 {
  background-color: #bd1422;
}
/*page 8-------------------------------------------------*/
.leftColumnPage8,
.leftColumnPage9 {
  background-color: #bd1422;
  color: white;
  width: 50%;
  position: relative;
}
.rightColumnPage8,
.rightColumnPage9{
  padding: 300px 110px 100px 70px;
  text-align: left;
  
}
.rightColumnPage8_title{
  margin-bottom: 50px;
}
.rightColumnPage8_title::before {
  display: block;
  content: '';
  margin: 50px 0;
  /* padding-top: 50px; */
  width: 200px;
  border-bottom: 7px solid #bd1422;
}
.rightColumnPage8_title_description{
  font-size:15px;
}
/*page 9-------------------------------------------------*/
.leftColumnPage9 {
  background-color: #170462;
}

.rightColumnPage9_row:not(:first-child)::before {
  display: block;
  content: '';
  margin: 50px 0;
  /* padding-top: 50px; */
  width: 200px;
  border-bottom: 7px solid #bd1422;
}
.rightColumnPage9_row_title{
  font-weight: 700;
}
.rightColumnPage9_row_description{
  font-size: 16px;
}
/*page 10-------------------------------------------------*/
.pageBaseSeminar10_row{
  background-color: #bd1422;
  padding: 50px 0;
}
.block_pageBaseSeminar10_row{
  background-color: white;
    border-radius: 50%;
    width: 650px;
    height: 650px;
    margin: 0 auto;
    padding-top: 9%;
    position: relative;
    text-align: center;
    font-weight: 700;
}
.block_pageBaseSeminar10_row img {
  width: 200px;
bottom: 0;
position: absolute;
left:35%;
}
.description_block_pageBaseSeminar10_row{
  font-size: 40px;
  margin: 50px 95px 0 95px;
  line-height: 44px;
}