/*page 1-------------------------------------------------*/
.pageBaseSeminar1,
.pageBaseSeminar2,
.pageBaseSeminar3,
.pageBaseSeminar4,
/* .pageBaseSeminar5, */
.pageBaseSeminar6,
/* .pageBaseSeminar7, */
.pageBaseSeminar8,
.pageBaseSeminar9,
.pageBaseSeminar10 {
  text-align: center;
  width: 1000px;
  margin: 0 auto;
  height: 660px;
}
.pagePerseptionBaseSeminar1_row {
  display: flex;
  justify-content: space-between;
  height: 390px;
}
.pageBaseSeminar1_row {
  display: flex;
  justify-content: space-between;
  height: 451px;
}
.titleSeminar {
  font-size: 25px;
  background: #170462;
  height: 150px;
  color: white;
}
.titleSeminar_block {
  width: 400px;
  margin: 0 auto;
  padding-top: 40px;
}
.blockLogo {
  width: 145px;
}
.logoSpadok {
  width: 250px;
  margin-top: -80px;
  background: white;
  border-radius: 50%;
  border: 20px solid white;
  margin-left: -30px;
}
.logoSpadokText {
  width: 350px;
  margin-left: -98px;
  margin-top: -35px;
}
.pageStartSeminar1_row_text {
  padding-top: 100px;
  font-weight: 700;
  font-size: 33px;
  width: 500px;
  text-align: right;
}
.pageBaseSeminar1_row_text {
  padding-top: 100px;
  font-weight: 700;
  font-size: 39px;
  width: 440px;
  text-align: right;
}
.footerPageBaseSeminar1 {
  background-color: #bd1422;
  color: white;
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-size: 30px;
}
/*page 2-------------------------------------------------*/
.pageBaseSeminar2_row {
  display: flex;
}
.leftColumnPage2,
.leftColumnPage6,
.leftColumnPage7 {
  background-color: #bd1422;
  color: white;
  width: 370px;
  position: relative;
}
/* .leftColumnPage2 img, */
.leftColumnPage8 img,
.leftColumnPage9 img {
  width: 100px;
  float: right;
  margin-top: 50px;
  right: 20px;
  position: absolute;
}
.titlePage2,
.titlePage3 {
  padding-bottom: 52px;
  font-size: 33px;
}
.titlePage2::before,
.titlePage3::before {
  display: block;
  content: '';
  margin: 50px 0;
  width: 200px;
  border-bottom: 7px solid #170462;
}
.rightColumnPage2,
.rightColumnPage3,
.rightColumnPage6,
.rightColumnPage7 {
  padding-left: 50px;
  padding-right: 50px;
  text-align: left;
  width: 630px;
}
.title_leftColumnPage2,
.title_leftColumnPage8 {
  position: absolute;
  right: 20px;
  bottom: 100px;
  font-size: 40px;
}
.textPage2SeminarBase {
  /* text-align: justify; */
  font-size: 15px;
  line-height: 1.3;
  margin-bottom: 69px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.footerPageBaseSeminar2,
.footerPageBaseSeminar3,
.footerPageBaseSeminar6,
.footerPageBaseSeminar7 {
  background-color: #170462;
  width: 100%;
  height: 60px;
}
.nameBlockText {
  font-weight: 700;
}

/*page 3-------------------------------------------------*/
.pagePerseptionStartSeminar3,
.pagePerseptionBaseSeminar6,
.pageBaseSeminar7,
.pagePerseptionBaseSeminar8,
.pagePerseptionStartSeminar8 {
  text-align: center;
  width: 1000px;
  margin: 0 auto;
  /* height: 1036px; */
}
.footerPageBaseSeminar3 {
  z-index: 2;
  position: relative;
  background-color: #bd1422;
}
.leftColumnPage3 {
  background-color: #170462;
  color: white;
  width: 290px;
  position: relative;
}
.imgTitle_leftColumnPage3 {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  position: absolute;
  left: 0;
}
.titlePage3::before {
  border-bottom: 7px solid #bd1422;
}
.rightColumnPage3 {
  margin-left: 70px;
}
.textPage3SeminarBase {
  text-align: justify;
  font-size: 16px;
  line-height: 1.3;
  margin-bottom: 100px;
  margin-top: 32px;
  letter-spacing: 0.5px;
}
/*page 4-------------------------------------------------*/
.Podtext_textPage2SeminarBase {
  margin-left: 30px;
}
.pageBaseSeminar4_header {
  background-color: #bd1422;
  height: 200px;
  width: 100%;
  color: white;
  font-size: 40px;
  position: relative;
}
.pageBaseSeminar4_title {
  bottom: 50px;
  left: 80px;
  position: absolute;
}
.pageBaseSeminar4_logo img {
  width: 80px;
  bottom: 15px;
  position: absolute;
  right: 230px;
  z-index: 3;
}
.pageBaseSeminar4_image img {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  position: absolute;
  right: -45px;
  top: -45px;
}
.pageBaseSeminar4_row {
  margin-left: 60px;
  margin-bottom: 100px;
  margin-right: 20px;
  text-align: left;
}
.titlePage4 {
  padding: 65px 0;
  width: 600px;
}
.titlePage4_span {
  color: #bd1422;
  font-size: 20px;
  font-weight: 500;
}
.textPage4SeminarBase {
  font-size: 15px;
  font-weight: 500;
}
.Podtext_textPage4SeminarBase {
  margin-left: 50px;
}
/*page 5-------------------------------------------------*/
.pageBaseSeminar5 {
  background-color: #170462;
  color: black;
  text-align: center;
  /* width: 100vw;
  margin-left: -7%; */
}
.blockPage5 {
  background-color: #bd1422;
  height: 80px;
  width: 1000px;
  margin: auto;
}
.contentPage5 {
  display: flex;
  justify-content: space-around;
  margin: 75px 150px;
}
.contentPage5_block {
  background-color: white;
  border-radius: 50%;
  width: 350px;
  height: 350px;
  padding: 11%;
}
.persentBlock5 {
  font-size: xxx-large;
  font-weight: 800;
}
.textBlock5 {
  font-size: initial;
  font-weight: 800;
}

/*page 6-------------------------------------------------*/
.leftColumnPage6 {
  background-color: #bd1422;
}
.leftColumnPage6 img,
.leftColumnPage7 img {
  width: 100px;
  float: right;
  margin-top: 50px;
  right: 20px;
  position: absolute;
  bottom: 50px;
}

.title_leftColumnPage6 {
  position: absolute;
  top: 100px;
  font-size: 40px;
}
.rightColumnPage6_title {
  display: none;
}
.rightColumnPage6_row,
.rightColumnPage7_row {
  display: flex;
  align-items: center;
  margin-top: 50px;
  font-size: 19px;
  text-align: justify;
}
.rightColumnPage6_row:first-child,
.rightColumnPage7_row:first-child {
  margin-top: 100px;
}
.rightColumnPage6_row:last-child {
  margin-bottom: 61px;
}
.rightColumnPage6_row img {
  width: 130px;
  margin-right: 20px;
}
.footerPageBaseSeminar6,
.leftColumnPage7,
.leftColumnPage9 {
  background-color: #170462;
}
/*page 7-------------------------------------------------*/
.leftColumnPage7_title {
  /* position: absolute; */
  padding-top: 100px;
  font-size: 40px;
  line-height: 1.2;
}
.leftColumnPage7_title__ {
  font-size: 25px;
}
.rightColumnPage7_row {
  margin-top: 10px;
}
.rightColumnPage7_row:last-child {
  margin-bottom: 10px;
}
.rightColumnPage7_row img {
  width: 138px;
  margin-right: 20px;
}
.titne_rightColumnPage7_row {
  font-weight: 500;
}
.description_rightColumnPage7_row {
  color: #bd1422;
  font-size: 17px;
}
.footerPageBaseSeminar7 {
  background-color: #bd1422;
}
/*page 8-------------------------------------------------*/
.leftColumnPage8,
.leftColumnPage9 {
  background-color: #bd1422;
  color: white;
  width: 50%;
  position: relative;
}
.rightColumnPagePerseption8 {
  padding: 50px 50px 100px 70px;
  text-align: left;
  width: 50%;
}
.rightColumnPage8,
.rightColumnPage9 {
  padding: 50px 110px 100px 70px;
  text-align: left;
  width: 50%;
}
.rightColumnPage8_title {
  margin-bottom: 72px;
}
.rightColumnPage8_title::before {
  display: block;
  content: '';
  margin: 55px 0;
  width: 200px;
  border-bottom: 7px solid #bd1422;
}
.rightColumnPage8_titleDescription {
  margin-bottom: 10px;
}
.rightColumnPage8_title_description {
  font-size: 15px;
}
/*page 9-------------------------------------------------*/
.leftColumnPage9 {
  background-color: #170462;
}
.rightColumnPage9_row:not(:first-child)::before {
  display: block;
  content: '';
  margin: 55px 0;
  width: 200px;
  border-bottom: 7px solid #bd1422;
}
.rightColumnPage9_row_title {
  font-weight: 700;
}
.rightColumnPage9_row_description {
  font-size: 14px;
}
/*page 10-------------------------------------------------*/
.pageBaseSeminar10_row {
  background-color: #bd1422;
  padding: 55px 0;
}
.block_pageBaseSeminar10_row {
  background-color: white;
  border-radius: 50%;
  width: 550px;
  height: 550px;
  margin: 0 auto;
  padding-top: 9%;
  position: relative;
  text-align: center;
  font-weight: 700;
}
.pageBaseSeminar10_logo {
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}
.pageBaseSeminar10_logo img {
  width: 150px;
}
.title_block_pageBaseSeminar10_row {
  font-size: 25px;
}
.description_block_pageBaseSeminar10_row {
  font-size: 40px;
  margin: 50px 70px 0 70px;
  line-height: 44px;
  color: #170462;
}
/*424/400*/
